.App {
	display: grid;
}

.headers {
	text-align: center;
	font-weight: 600;
}

.rows {
	display: grid;
	grid-template-columns: 10% repeat(5, 18%);
	align-items: center;
	justify-items: center;
	border: 1px #fff solid;
	padding: 10px;
}

.name {
	justify-self: start;
}
